<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" href="../../static/css/materia/bootstrap.min.css" th:href="@{css/materia/bootstrap.min.css}">
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}">
<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header">
</div>

<div layout:fragment="content">


	<div>
		<form name="uploadfiles" id="uploadfiles" method="POST" enctype="multipart/form-data" th:action=@{/uploaddoc}>
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="files" multiple required/></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
	<table class="table table-hover">

  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Download Link</th>
     </tr>
  </thead>
  <tbody>
  <tr  th:each="file : ${files}" >
     <td th:text="${file.id}"></td>
     <td th:text="${file.docName}"></td>
     <td> 	<a th:href="@{'/download/'+${file.id}}">Download</a></td>
  </tbody>
  </table>
		
	</div>



</div>

<div th:replace="fragments/footer::footer">
</div>
</body>
</html>