<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" href="../../static/css/materia/bootstrap.min.css" th:href="@{css/materia/bootstrap.min.css}">
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}">
<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header">
</div>	

<div layout:fragment="content" style="margin-left:2%">
  
 <form th:action="@{/register}" th:object="${usermodel}" method="post" >
 <h1>Registration Form</h1>
 <div class="text text-danger" th:if="${exist}" >
 <p class="text text-center"> User already registered</p>
 </div>
    <div class="form-group">
    <label for="name" class="form-control-label">Name</label>
    <input type="text" class="form-control" id="name" th:field="*{name}"> 
    <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
     </div>
     
     <div class="form-group"> 
    <label for="email" class="form-control-label">Email</label>
    <input type="email" class="form-control"  id="email" th:field="*{email}">
    <div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
   </div>
    
     <div class="form-group">
    <label for="password" class="form-control-label">password</label>
    <input type="password" class="form-control"  id="password" th:field="*{password}">
     <div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
   </div> 
    
    <input type="submit" class="btn btn-primary" value="submit">
    
 </form>
  
</div>

<div th:replace="fragments/footer::footer">
</div>
</body>
</html>